{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see dirfolio_common_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}

 <!-- ===========================
	HERO AREA
	=========================== -->
	<div id="hero">
	    <div class="container herocontent">
	        <h2 class="wow fadeInUp" data-wow-duration="2s">Drifolio the Awesome</h2>
	        <h4 class="wow fadeInDown" data-wow-duration="3s">Exclusively crafted for the super lazy designers like me who designed thousand of websites till today but never got a chance to build one himself.</h4>
	    </div>

	    <!-- Featured image on the Hero area -->
	    <img class="heroshot wow bounceInUp" data-wow-duration="4s" src="img/hero-img.png" alt="Featured Work">
	</div>
<!--HERO AREA END-->